
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

body {
background: #000;
font-family: 'Roboto Condensed';
overflow: hidden;
text-align: center;
letter-spacing: 0px;
margin: auto;
padding: 0;
width: 100vw;
height: -webkit-fill-available;
height: 100vh;
color :#fff;
}

.plateSet {
height: 50%;
width: 100%;
border: 1px solid white;
display: block;
}

.plateHolder{
margin: auto;
display: inline-flex;
align-items: center;
padding: 5px;
}


h1 { /* header one size */
margin: 0;
font-size: 64px;
font-size: 4vh;
font-weight: bold;
color: white;
}
h2 { /*header two size */
margin: 0 0 0 0;
font-size: 64px;
font-size: 2.5vh;
font-weight: bold;
color: white;
}
h4 { /*used for the plate text */
margin: 0 0 0 0;
font-size: 64px;
font-weight: bold;
color: white;
}
.warning { /*to let people know it connected */
bottom: 0;
left: 0;
font-size: 20px;
font-size: 1vh;
position: fixed;
}

/* this is where the lights are */
.round {
    background-color: #123456;
    display: inline-block;
    width: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s; 
    padding-top: 100%;
height: auto; /*take off a few percent cause it's 32% not 33.3% */

}

/* containers for the lights */


#Lights {
position: relative;
left: 0;
width: 100%;
padding: 0;
margin: 0;
}
#bigLights {
width: 90vh;
display: inline-block;
}
#smolLights {
display: block;
height: 100%; /* this is cause it'll fill up the rest of the screen it's all g */
position: relative;
width: 50vh;
left: 50%;
transform: translate(-50%,0%);

}

.lightContainer {
width: 32%;
position: relative;
display: inline-block;
}

.sLight {
position: relative;
display: inline-block;
width: 32%;
}

/* different colours for the light circles */
.white {
background: radial-gradient(#fff 40%, #000 85%);
background-color: #fff;
opacity: 1;

}
.red {
background: radial-gradient(#f00 40%, #000 85%);
background-color: #f00;
opacity: 1;

}
.blue {
background: radial-gradient(#00f 40%, #000 85%);
background-color: #00f;
opacity: 1;

}
.yellow {
background: radial-gradient(#ff0 40%, #000 85%);
background-color: #ff0;
opacity: 1;

}
.pending {
background: radial-gradient(#0f0 , #000 30%, #000 100%);
background-color: #030;
width: 100%;
height: 100%;
opacity: 1;
}

.visible {
opacity: 1;
transition: opacity 0.3s;
}


/* plate specifics */


#plates1,#plates2{
	padding-left:20px;
	padding-right:20px;
	border-radius:10px;
	background-image: linear-gradient(#555,#333,#333,#333,#333,#333, white);
}
.plate{

	border: 3px solid black;
	margin-right: 3px;
	border-radius:10px;
	width: 95px;
	writing-mode: vertical-rl;
	font-size: 5em;
	color: black;
	font-family:'Roboto Condensed';
	font-weight: bold;
	letter-spacing:-3px;
}

.plateText{
font-size:5em;
color: black;
}
.p2500{
background-image: linear-gradient(black,red,white,red,red,black);
height: 480px;
}
.p2500::after{
	content: "25";
}
.p2000{
background-image: linear-gradient(black,blue,white,blue,blue,black);
height: 480px;
}
.p2000::after{
	content: "20";
}
.p1500{
background-image: linear-gradient(black,yellow,white,yellow,yellow,black);
height: 440px;
}
.p1500::after{
	content: "15";
}
.p1000{
background-image: linear-gradient(black,green,white,green,green,black);
height: 400px;
}
.p1000::after{
	content: "10";
}
.p500{
background-image: linear-gradient(grey,white,white,grey);
height: 360px;
}
.p500::after{
	content: "5";
}
.p250{
background-image: linear-gradient(black,#777,#aaa,grey,#777,black);
height: 320px;
color: black;
}
.p250::after{
	content: "2.5";
}
.p125{
background-image: linear-gradient(black,grey,white,grey,black);
height: 280px;
}
.p125::after{
	content: "1.25";
}
.p50{
background-image: linear-gradient(black,grey,white,grey,black);
height: 260px;
}
.p50::after{
	content: "0.5";
}
.p25{
background-image: linear-gradient(black,grey,white,grey,black);
height: 240px;
}
.p25::after{
	content: "0.25";
}


/* timers */
#timer1 {
z-index: -1;
font-size: 256px;
font-size: 30vh;
text-align: left;
padding-left: 540px;
opacity: 0;
font-family: "Orbitron";
}
#timer1.visible {
opacity: 1;
}

#timer2 {
z-index: -1;
font-size: 96px;
font-size: 8vw;
position: fixed;
text-align: left;
width: 512px;
bottom: 50%;
right: 5%;
opacity: 0;
font-family: "Orbitron";
}
#timer2.visible {
opacity: 1;
}

#lt12 {
position: fixed;
bottom: 50%;
left: 50%;
transform: translate(-50%);
}

#lt1, #lt2 {
position: absolute;
text-align: left;
margin: 2%;
}
