@import 
url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
:root {
 --background: #123; --border: #234; --text : #777; --button : #abc; --hover: #8af; 
 --selected: #fff;
}
#timer2 {
width: 10%; margin: 15px;
}
/* main stuff */ body { background: #000 ; font-family: 'Roboto Condensed'; text-align: 
center; letter-spacing: 0px; color: var(--text); overflow-y: auto; overflow-x: hidden; 
margin: auto; padding: 0; width: 100vw; height: -webkit-fill-available; height: 100vh;
}
h1 { /* header one size */ margin: 0; font-size: 64px; font-size: 4vh; font-weight: bold; 
color: white;
}
h2 { /*header two size */ border-top: solid 3px; margin: 0 0 2vh 0; font-size: 64px; 
font-size: 2.5vh; font-weight: bold;
}
h4 { /*used for the plate text */ margin-top: 0px; font-size: 48px; font-weight: bold; 
color: white;
}
.warning { /*to let people know it connected */ bottom: 0; left: 0; font-size: 20px; 
font-size: 1vh; position: fixed;
}
#connection {
display: inline;
}
/******************************************************************/ /* this is where the 
lights are */ .round {
    background-color: #123456; display: inline-block; width: 100%; border-radius: 50%; 
    opacity: 0; transition: opacity 0.5s; padding-top: 100%;
height: auto; /*take off a few percent cause it's 32% not 33.3% */
}
/* containers for the lights */
#Lights {
position: relative; left: 0; width: 100%; padding: 0; margin: 0;
}
#bigLights {
width: 90%; display: inline-block;
}
#smolLights {
display: inline-block; height: 100%; /* this is cause it'll fill up the rest of the screen 
it's all g */ position: relative; width: 65%; top: 0;
}
.lightContainer { width: 32%; position: relative; display: inline-block;
}
.sLight { position: relative; display: inline-block; width: 32%;
}
/*formatting for the timer */
#timer {
z-index: -1; font-size: 256px; font-size: 24vw; position: absolute; width: 512px; top: 
17%; left: 17%; opacity: 0; font-family: "Orbitron";
}
#timer.visible {
opacity: 1;
}
#secondTimerDiv { /*silly name cause i have duplicate IDs */
font-family: "Orbitron"; font-size: 96px; font-size: 8vw; position: fixed; bottom: 5%; 
left: 5%; height: fit-content; opacity: 0; transform: translate(0%,0%); transition: all 
1s;
}
#secondTimerDiv.visible {
opacity: 1;
}
#secondTimerDiv.central {
width: 512px; left: 17%; top: 17%; position: absolute; font-size: 24vw; transition: all 
1s;
}
/* different colours for the light circles */ .white { background: radial-gradient(#fff 
40%, #000 85%); background-color: #fff; opacity: 1;
}
.red { background: radial-gradient(#f00 40%, #000 85%); background-color: #f00; opacity: 
1;
}
.blue { background: radial-gradient(#00f 40%, #000 85%); background-color: #00f; opacity: 
1;
}
.yellow { background: radial-gradient(#ff0 40%, #000 85%); background-color: #ff0; 
opacity: 1;
}
.pending { background: radial-gradient(#0f0 , #000 30%, #000 100%); background-color: 
#030;
width: 100%; height: 100%; opacity: 1;
}
.visible { opacity: 1; transition: opacity 0.3s;
}
#heartbeat{
display: inline; opacity:0; transition: all 15s; width: 100%; height: 100%;
}
#heartbeat.heartbeat {
opacity: 1; transition: all 15s;
}
/* this is for the changing attempt ticker */ @keyframes tickerh { 0% { transform: 
translate3d(100%, 0,0);} 100% {transform: translate3d(-200%,0,0);}
}
.tickerwrap { opacity: 0; position: fixed; top: 5%; width: 100%; overflow: hidden;
}
.ticker { display: flex; white-space: nowrap; animation: tickerh linear 30s infinite;
}
.tickerwrap.ticking { opacity: 1;
}
.tickercontent { font-size: 10vh; flex-shrink: 0; width: 100%; box-sizing: border-box; 
padding: 10px; text-align: center; color: #fff;
}
iframe { border: none; overflow: hidden; display: none;
}
.plateset { display: block; border: 1px solid white; width: 100%; height: 50%;
}
.plateHolder{ margin:auto; display: inline-flex; align-items:center; padding:5px;
}
#plates,#plates2{
	padding-top:50px; padding-bottom:50px; padding-left:100px; padding-right:100px; 
	border-radius:10px; background-image: 
	linear-gradient(#555,#333,#333,#333,#333,#333, white);
}
.plate{ border: 3px solid black; margin-right: 3px; border-radius:10px; width: 95px; 
	writing-mode: vertical-rl; font-size: 5em; color: black; font-family:'Roboto 
	Condensed'; font-weight: bold; letter-spacing:-3px;
}
.plateText{ font-size:5em; color: black;
}
.p2500{ background-image: linear-gradient(black,red,white,red,red,black); height: 480px;
}
.p2500::after{ content: "25";
}
.p2000{ background-image: linear-gradient(black,blue,white,blue,blue,black); height: 
480px;
}
.p2000::after{ content: "20";
}
.p1500{ background-image: linear-gradient(black,yellow,white,yellow,yellow,black); height: 
440px;
}
.p1500::after{ content: "15";
}
.p1000{ background-image: linear-gradient(black,green,white,green,green,black); height: 
400px;
}
.p1000::after{ content: "10";
}
.p500{ background-image: linear-gradient(black,white,white,black); height: 360px;
}
.p500::after{ content: "5";
}
.p250{ background-image: linear-gradient(black,grey,white,grey,grey,black); height: 320px; 
color: black;
}
.p250::after{ content: "2.5";
}
.p125{ background-image: linear-gradient(black,grey,white,grey,black); height: 280px;
}
.p125::after{ content: "1.25";
}
.p50{ background-image: linear-gradient(black,grey,white,grey,black); height: 260px;
}
.p50::after{ content: "0.5";
}
.p25{ background-image: linear-gradient(black,grey,white,grey,black); height: 240px;
}
.p25::after{ content: "0.25";
}
